@import "tailwindcss";

@theme {
  /* Colores azules */
  --color-blue-breeze: #94bcd9;
  --color-mist-blue: #6d9fc6;
  --color-deep-blue: #4874a5;

  /* Colores verdes */
  --color-lime-green: #c9f59f;
  --color-soft-green: #a8de74;
  --color-vivid-green: #86c74a;

  /* Colores amarillos */
  --color-honey-yellow: #ffe673;
  --color-golden-yellow: #ffd13b;
  --color-sun-yellow: #ffbb00;

  /* Colores rojos */
  --color-salmon-red: #f2836d;
  --color-rosy-red: #df5137;
  --color-ember-red: #cc2000;

  /* Colores morados */
  --color-orchid-purple: #b385c2;
  --color-misty-purple: #956aa8;
  --color-dark-purple: #76308f;
}
