<section
  class="py-12 bg-soft-green px-4 rounded-lg shadow-xl max-w-5xl mx-auto mt-1"
>
  <div
    class="max-w-11/12 mx-auto my-8 p-8 bg-lime-green rounded-2xl shadow-lg text-center"
  >
    <h2 class="text-3xl font-bold text-gray-800 mb-4 text-center">Sobre mí</h2>
    <p class="text-gray-600 text-lg mb-6 text-center">
      Soy estudiante de 7º semestre de Ingeniería de Sistemas y
      Telecomunicaciones en la UCP. Me enfoco en el desarrollo de soluciones
      prácticas que integran hardware y software, como sistemas de alarma y
      comunicación por láser con ESP32. He trabajado con PHP puro, MySQL,
      JavaScript, HTML, y frameworks como Tailwind, además de herramientas como
      Cisco Packet Tracer y GeoGebra. Me apasionan los proyectos que combinan
      redes, electrónica y programación para resolver problemas reales.
    </p>
  </div>
</section>
