<section
  class="py-16 bg-mist-blue px-4 rounded-lg shadow-xl max-w-5xl mx-auto mt-1 text-center"
>
  <h1 class="mb-4 text-4xl font-bold">¡Bienvenido a mi Portfolio!</h1>
  <p class="mb-6 text-lg">
    Hi, soy Alejandro Díaz Osorio, a passionate developer specializing in
    building modern web applications.
  </p>
  <ul class="list-none p-0">
    <li class="my-2 text-xl">🌟 Fullstack Development</li>
    <li class="my-2 text-xl">🚀 Fast, Responsive Websites</li>
    <li class="my-2 text-xl">💡 Creative Problem Solving</li>
  </ul>
</section>
