---
import { Image } from "astro:assets";
import { skills } from "../data/skills";

// Agrupar por categoría
const categorias = [...new Set(skills.map((skill) => skill.categoria))];
---

<section id="skills" class="py-12 bg-gradient-to-b to-[#0f2027] from-[#2c5364]">
  <div class="mx-auto px-4 max-w-5xl text-center">
    <h2
      class="mb-8 text-4xl font-bold bg-gradient-to-r from-yellow-400 via-orange-400 to-yellow-400 text-yellow-900 rounded-lg p-4 inline-block shadow-lg border-4 border-yellow-700"
    >
      Skills
    </h2>
    <div
      class="bg-gradient-to-br from-yellow-400 via-orange-400 to-yellow-400 grid gap-6 py-5 px-5 rounded-xl shadow-xl text-center mx-auto border border-yellow-500"
    >
      {
        categorias.map((categoria) => {
          const skillsPorCategoria = skills.filter(
            (skill) => skill.categoria === categoria
          );
          return (
            <div class="mb-12">
              <h3 class="text-2xl font-bold text-yellow-900 bg-yellow-200 px-4 py-2 rounded shadow inline-block mb-6 border-l-8 border-yellow-600">
                {categoria.charAt(0).toUpperCase() + categoria.slice(1)}
              </h3>
              <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-6 ">
                {skillsPorCategoria.map((skill) => (
                  <div class="rounded-lg shadow-lg p-3 flex flex-col items-center transition-all bg-white border border-yellow-400 hover:shadow-2xl hover:-translate-y-2 hover:scale-105 group duration-300">
                    <span class="text-xl font-semibold text-yellow-800 group-hover:underline pb-2 group-hover:text-yellow-900 group-hover:font-bold transition-all duration-300 ">
                      {skill.name}
                    </span>
                    <Image
                      src={skill.logo}
                      alt={skill.name}
                      class="size-25 aspect-square  object-contain group-hover:scale-110 group-hover:rotate-3 duration-300 transition-all"
                    />
                    <span class="mt-2 text-sm text-yellow-700 font-bold group-hover:text-yellow-900 transition-colors ">
                      {skill.level}
                    </span>
                  </div>
                ))}
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</section>
