---
const skills = [
  /* Web */
  { name: "HTML", level: "Intermedio", logo: "/logos/html.webp", categoria :"web" },
  { name: "CSS", level: "Básico", logo: "/logos/css3.webp", categoria :"web" },
  { name: "JavaScript", level: "Intermedio", logo: "/logos/javascript.webp", categoria :"web" },

  /* Frameworks */
  { name: "Astro", level: "Básico", logo: "/logos/astro.webp", categoria :"Frameworks" },
  { name: "React", level: "Intermedio", logo: "/logos/react.webp", categoria :"Frameworks" },
  { name: "Tailwind CSS", level: "Básico", logo: "/logos/tailwind.webp", categoria :"Frameworks" },

  /* Lenguajes */
  { name: "Python", level: "Intermedio", logo: "/logos/python.webp", categoria :"lenguajes" },
  { name: "PHP", level: "Básico", logo: "/logos/php.webp", categoria :"lenguajes" },
  { name: "MySQL", level: "Intermedio", logo: "/logos/mysql.webp", categoria :"lenguajes" },
  { name: "C#", level: "Intermedio", logo: "/logos/cs.webp", categoria :"lenguajes" },

  /* Electrónica */
  { name: "Arduino", level: "Básico", logo: "/logos/arduino.webp", categoria :"electrónica" },
  { name: "ESP32", level: "Básico", logo: "/logos/esp32.webp", categoria :"electrónica" },

  /* Redes */
  { name: "Cisco Packet Tracer", level: "Básico", logo: "/logos/cisco.webp", categoria :"redes" },

  /* Videojuegos */
  { name: "Unity", level: "Básico", logo: "/logos/unity.webp", categoria :"videojuegos" },
];
---

<section class="py-12 bg-sun-yellow">
  <div class="mx-auto px-4 max-w-5xl">
    <h2 class="text-3xl font-bold mb-6 text-gray-100 text-center">Skills</h2>
    <div
      class="bg-golden-yellow grid sm:grid-cols-2 md:grid-cols-3 gap-6 py-5 px-5 rounded-lg shadow-lg text-center mx-auto"
    >
      {
        skills.map((skill) => (
          <div class="bg-white rounded-lg shadow-lg p-3 flex flex-col items-center hover:scale-110 transition-all">
            <span class="text-xl font-semibold text-gray-700 underline pb-2">
              {skill.name}
            </span>
            <img
              loading="lazy"
              src={skill.logo}
              alt={skill.name}
              class="w-32 h-32 object-contain"
            />
            <span class="mt-2 text-sm text-gray-500 font-bold">
              {skill.level}
            </span>
          </div>
        ))
      }
    </div>
  </div>
</section>
