---
const skills = [
  /* Web */
  { name: "HTML", level: "Intermedio", logo: "/logos/html.webp" },
  { name: "CSS", level: "Básico", logo: "/logos/css3.webp" },
  { name: "JavaScript", level: "Intermedio", logo: "/logos/javascript.webp" },

  /* Frameworks */
  { name: "Astro", level: "Básico", logo: "/logos/astro.webp" },
  { name: "React", level: "Intermedio", logo: "/logos/react.webp" },
  { name: "Tailwind CSS", level: "Básico", logo: "/logos/tailwind.webp" },

  /* Lenguajes */
  { name: "Python", level: "Intermedio", logo: "/logos/python.webp" },
  { name: "PHP", level: "Básico", logo: "/logos/php.webp" },
  { name: "MySQL", level: "Intermedio", logo: "/logos/mysql.webp" },

  /* Electrónica */
  { name: "Arduino", level: "Básico", logo: "/logos/arduino.webp" },
  { name: "ESP32", level: "Básico", logo: "/logos/esp32.webp" },

  /* Redes */
  { name: "Cisco Packet Tracer", level: "Básico", logo: "/logos/cisco.webp" },
];
---

<section
  class="py-12 bg-golden-yellow px-4 rounded-lg shadow-xl mx-auto mt-1"
>
  <div class="max-w-4xl mx-auto px-4">
    <h2 class="text-3xl font-bold mb-6 text-gray-800 text-center">Skills</h2>
    <div
      class="bg-honey-yellow grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 py-5 px-5 rounded-lg shadow-lg"
    >
      {
        skills.map((skill) => (
          <div class="bg-white rounded-lg shadow-lg p-3 flex flex-col items-center hover:shadow-xl transition">
            <span class="text-xl font-semibold text-gray-700 underline pb-2">
              {skill.name}
            </span>
            <img
              loading="lazy"
              src={skill.logo}
              alt={skill.name}
              class="w-32 h-32 object-contain"
            />
            <span class="mt-2 text-sm text-gray-500 font-bold">
              {skill.level}
            </span>
          </div>
        ))
      }
    </div>
  </div>
</section>
