---
import { skills } from "../data/skills.js";

// Agrupar por categoría
const categorias = [...new Set(skills.map((skill) => skill.categoria))];
---

<section class="py-12 bg-sun-yellow">
  <div class="mx-auto px-4 max-w-5xl text-center">
    <h2
      class="mb-8 text-4xl font-bold bg-honey-yellow rounded-lg p-4 inline-block shadow-lg"
    >
      Skills
    </h2>
    <div class="bg-golden-yellow grid gap-6 py-5 px-5 rounded-lg shadow-lg text-center mx-auto">
      {
        categorias.map((categoria) => {
          const skillsPorCategoria = skills.filter(
            (skill) => skill.categoria === categoria
          );
          return (
            <div class="mb-12">
              <h3 class="text-2xl font-bold text-black bg-white px-4 py-2 rounded shadow inline-block mb-6 border-l-8 border-deep-blue">
                {categoria.charAt(0).toUpperCase() + categoria.slice(1)}
              </h3>
              <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-6 ">
                {skillsPorCategoria.map((skill) => (
                  <div class="rounded-lg shadow-lg p-3 flex flex-col items-center hover:scale-110 transition-all bg-white">
                    <span class="text-xl font-semibold text-gray-700 underline pb-2">
                      {skill.name}
                    </span>
                    <img
                      loading="lazy"
                      src={skill.logo}
                      alt={skill.name}
                      class="w-32 h-32 object-contain"
                    />
                    <span class="mt-2 text-sm text-gray-500 font-bold">
                      {skill.level}
                    </span>
                  </div>
                ))}
              </div>
            </div>
          );
        })
      }
    </div>
  </div>
</section>
