---
import { Image } from "astro:assets";
import profile from "../assets/profile.webp";

const phrases = [
  { sentence: "Desarrollo de software", emoji: "💻" },
  { sentence: "Integración de hardware y software", emoji: "🔧" },
  { sentence: "Simulación de redes", emoji: "🖥️" },
  { sentence: "Gestión y modelado de Bases de Datos", emoji: "🗄️" },
  { sentence: "Asistencia en programas de Arquitectura y diseño", emoji: "🏛️" },
  { sentence: "Desarrollo de aplicaciones web", emoji: "🌐" },
];
---

<section class="py-16 bg-gradient-to-b from-[#0f2027] to-[#2c5364]">
  <div
    class="max-w-5xl mx-auto mb-10 p-10 bg-gradient-to-bl from-red-800 via-red-500 to-red-800 rounded-3xl shadow-2xl text-center"
  >
    <h1
      class="mb-4 text-5xl text-[#991b1b] bg-white font-extrabold animate-nametag tracking-wider rounded-xl p-6 inline-block shadow-xl shadow-red-800/80"
    >
      ALEJANDRO DÍAZ OSORIO
    </h1>
  </div>

  <div
    class="grid md:grid-cols-2 gap-8 items-center justify-center max-w-5xl mx-auto p-10 bg-gradient-to-br from-red-800 via-red-500 to-red-800 rounded-3xl shadow-2xl"
  >
    <div class="flex flex-col items-center">
      <a
        href="https://www.linkedin.com/in/alejandro-diaz-osorio/"
        target="_blank"
        rel="noopener noreferrer"
        class="flex justify-center items-center"
        aria-label="LinkedIn profile"
      >
        <Image
          src={profile}
          alt="Foto de perfil de Alejandro Díaz Osorio"
          loading="eager"
          class="aspect-square size-52 rounded-full object-cover object-top animate-profile-picture border-4 border-red-800"
        />
      </a>
      <p
        class="mt-4 text-red-50 text-sm uppercase text-center font-phrase text-shadow-2xs"
      >
        "Del fracaso se aprende... del éxito no mucho"
      </p>
    </div>
    <ul class="text-red-50 text-lg italic space-y-3 font-semibold text-left">
      {
        phrases.map((phrase) => (
          <li>
            <span class="flex items-center gap-2 group hover:scale-120 transition-all duration-300">
              {phrase.emoji}
              <span class="group-hover:underline transition-all">
                {phrase.sentence}
              </span>
            </span>
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style>
  .animate-nametag:hover {
    animation: nametag 5s ease-in-out infinite;
  }

  @keyframes nametag {
    0% {
      letter-spacing: 0.05em;
      transform: scale(1) rotate(0deg);
      box-shadow: 0 4px 24px -3px rgba(220, 38, 38, 0.85);
    }
    25% {
      letter-spacing: 0.15em;
      transform: scale(1.05) rotate(-2deg);
      box-shadow: 0 8px 32px -6px rgba(220, 38, 38, 0.9);
    }
    50% {
      letter-spacing: 0.25em;
      transform: scale(1.1) rotate(2deg);
      box-shadow: 0 16px 48px -8px rgba(220, 38, 38, 1);
    }
    75% {
      letter-spacing: 0.15em;
      transform: scale(1.05) rotate(-2deg);
      box-shadow: 0 8px 32px -6px rgba(220, 38, 38, 0.9);
    }
    100% {
      letter-spacing: 0.05em;
      transform: scale(1) rotate(0deg);
      box-shadow: 0 4px 24px -3px rgba(220, 38, 38, 0.85);
    }
  }

  .animate-profile-picture:hover {
    animation: profile-picture 5s ease-in-out infinite;
  }
  @keyframes profile-picture {
    0% {
      transform: rotate(0deg) scale(1);
      box-shadow: 0 4px 24px -3px rgba(220, 38, 38, 0.85);
    }
    25% {
      transform: rotate(-20deg) scale(1.05);
      box-shadow: 0 8px 32px -6px rgba(220, 38, 38, 0.9);
    }
    50% {
      transform: rotate(20deg) scale(1.1);
      box-shadow: 0 16px 48px -8px rgba(220, 38, 38, 1);
    }
    75% {
      transform: rotate(-20deg) scale(1.05);
      box-shadow: 0 8px 32px -6px rgba(220, 38, 38, 0.9);
    }
    100% {
      transform: rotate(0deg) scale(1);
      box-shadow: 0 4px 24px -3px rgba(220, 38, 38, 0.85);
    }
  }
</style>
