---
import "@/styles/global.css";
import Header from "../sections/Header.astro";
import Footer from "../sections/Footer.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Alejandro Díaz Osorio | Portfolio</title>
  </head>
  <body>
    <Header />
    <main class="min-h-screen">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #0f2027;
    overflow-x: hidden;
  }
  
  * {
    box-sizing: border-box;
  }
</style>
